

<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="clearfix"> </div>
    <div class="page-container">
        <a class="btn btn-outline dark" data-toggle="modal" href="#responsive"> View Demo </a>
        <div id="responsive" class="modal fade" tabindex="-1" data-width="1000" data-backdrop="static" data-keyboard="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Jobtitles</h4>
            </div>

            <div class="modal-body" id="frmEmp">
                 @Html.Partial("AddJobTitle")
            </div>
            <div class="modal-footer">
                <button type="reset" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                <input type="submit" class="btn btn-success" value="Create">
            </div>

        </div>
    </div>
</div>

