
@{
    ViewBag.Title = "NotSubscribed";
    Layout = "~/Views/Shared/mainLayout2.cshtml";
}

<h2>Please you have to Subscribe to the Current appraisal session</h2>
<a href="@ViewBag.returnUrl" >Return to Url</a>
