
@{
    ViewBag.Title = "NotSubscribed";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}

<div class="centered"><h2>Please you have to <b>Subscribe</b> to the Current appraisal session</h2></div>
<a href="@ViewBag.returnUrl" >Return to Url</a>
