@using resourceEdge.webUi.Models
@model LoginViewModel
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from seantheme.com/color-admin-v2.0/admin/html/register_v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Sep 2016 09:34:53 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/assets/AdminTemplate/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/AdminTemplate/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/AdminTemplate/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/AdminTemplate/assets/img/login-bg/bg-8.jpg" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-edit text-success"></i> Resource Edge</h4>
                    <p>
                        Effective organizations needs effecient Resource Manage.
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header">
                    Log in
                    <small>Login to assess your Dashboard.</small>
                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content">
             @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                       {
                        @Html.AntiForgeryToken()
                         @*<label class="control-label">Name</label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                <input type="text" class="form-control" placeholder="First name" />
                            </div>
                            <div class="col-md-6 m-b-15">
                                <input type="text" class="form-control" placeholder="Last name" />
                            </div>
                        </div>*@
                        <label class="control-label">Email</label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="email" name="Email" class="form-control" placeholder="Email Address" />
                            </div>
                        </div>
                        <label class="control-label">Password</label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" name="Password" class="form-control" placeholder="Enter Password" />
                            </div>
                        </div>


                        <div class="checkbox m-b-30">
                            <label>
                                <input type="checkbox" name="Rememberme" /> Remember me.
                            </label>
                        </div>
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">LOG IN</button>
                        </div>
                        <hr />
                        <p class="text-center text-inverse">
                            &copy; Tenece All Right Reserved 2018
                        </p>
                       }
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/AdminTemplate/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/AdminTemplate/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/AdminTemplate/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/AdminTemplate/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
		$(document).ready(function() {
			App.init();
		});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53034621-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
<!-- Mirrored from seantheme.com/color-admin-v2.0/admin/html/register_v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Sep 2016 09:34:56 GMT -->
</html>
