
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/HRLayout.cshtml";
}

@section css{
@*<link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />*@
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
}
@*<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Employee Configuration
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
                <ul class="nav nav-tabs tabs-left">
                    <li class="active">
                        <a href="#tab_6_1" data-toggle="tab"> Official </a>
                    </li>
                    <li>
                        <a href="#tab_6_2" data-toggle="tab"> Documents </a>
                    </li>
                    <li>
                        <a href="" data-toggle="tab">Leave</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            More
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#tab_6_3" tabindex="-1" data-toggle="tab"> Option 1 </a>
                            </li>
                            <li>
                                <a href="#tab_6_4" tabindex="-1" data-toggle="tab"> Option 2 </a>
                            </li>
                            <li>
                                <a href="#tab_6_3" tabindex="-1" data-toggle="tab"> Option 3 </a>
                            </li>
                            <li>
                                <a href="#tab_6_4" tabindex="-1" data-toggle="tab"> Option 4 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tab_6_1" data-toggle="tab"> Settings </a>
                    </li>
                    <li>
                        <a href="#tab_6_1" data-toggle="tab"> More </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_6_1">
                        <p>*@
                            @Html.Action("Create", "HR", new { returnUrl = Request.Url.PathAndQuery })
                        @*</p>
                    </div>
                    <div class="tab-pane fade" id="tab_6_2">
                        <p>

                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab_6_3">
                        <p>

                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab_6_4">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Plugins{
    <script src="~/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
}

@section Scripts{
    <script src="~/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script> 
    <script src="~/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script> 
<script src="~/assets/pages/scripts/form-input-mask.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
     @Scripts.Render("~/bundles/jqueryval")

    <script>
      
        function validateDateOfJoining() {
            if (dateOfJoining == '') {
                var dateOfJoining = $('#dateOfJoining').val();
                console.log(dateOfJoining);
                var error_message_dateJoin = false;
                //$('#error_message_dateJoin').html("The Days exceeds the alloted date for the specified leave");
                $('#error_message_dateJoin').addClass("show");
                $('#btnSubmit').prop('disabled', true);
                error_message_dateJoin = true;
            } else {
                $('#Date_error_message').removeClass("show")
                $('#btnSubmit').prop('disabled', false);
            }
        }
        //$("#btnSubmit").onclick(function () {
        //    validateDateOfJoining();
        //})
        //this does the Front-End Validation
        function ValidateDateofJoingAndLeaving(date1, date2) {
            var error = $('#error_message_dateJoin');
            
            var newDate1 = new Date(date1);
            var newDate2 = new Date(date2);
            if (newDate1 > newDate2) {
                error.addClass('hide');
                $('#btnSubmit').prop('disabled', true);
                $('#join_date_error_message').html("Entry date must be less than exit date")
            }
            else if (newDate1 < newDate2) {
                error.removeClass('show');
                error.addClass('hide');
                $('#btnSubmit').prop('disabled', false);
            }
 
        }
        $('#dateleave').on('change',function () {
            var date1 = $('#dateJoin').val();
            var date2 = $('#dateleave').val();
            //ValidateDateofJoingAndLeaving(date1, date2);
            ValidateDatesFromBackend(date1, date2)
        })
 


        //this method does the backend validation
        function ValidateDatesFromBackend(date1, date2) {
            console.log("#########################")
            console.log(date1);
            var newdate1 = date1.split('-');
            var currentDay1 = newdate1[1] + '/' + newdate1[0] + '/' + newdate1[2];
            var newdate2 = date2.split('-');
            var currentDay2 = newdate2[1] + '/' + newdate2[0] + '/' + newdate2[2];
            console.log(currentDay1);
            $.ajax({
                type: 'GET',
                url: 'http://localhost:58124/validation/validatedate?date1=' + currentDay1 + '&date2=' + currentDay2,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                        console.log(data);
                        if (data.message == false) {
                            $('#dateSpan').html(
                            `
                        <i class ="fa fa-check tooltips" data-original-title="success input!"></i>
                        `)
                    }
                        else {
                            $('#dateSpan').removeClass('fa fa-calendar');
                            $('#dateSpan').addClass("fa fa-check tooltips"); $('#dateSpan').attr("data-original-title", "success input!");
                        
                        //`<div class="alert alert-success>Valid date/div>`
                    }
                },
                failure: function () {
                    console.log("Failed");
                    var message = {
                        message: "Failed to load data... Try again later"
                    };
                    //$('#position').append('<option value="">' + message.message + '</option>')
                }
            })
        }


        function getUnitByLocation(id) {
            var currentId = id;
            $.ajax({
                type: 'GET',
                url: 'http://localhost:58124/api/settings/GetBusinessunitByLocation/' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log('in the Get unit by Location method');
                    console.log(currentId);
                    console.log(data);
                    $('#businessunitId').empty();
                    if (data != '') {
                        $('#businessunitId').append('<option class="centre" value="">' + 'Select Business Unit' + '</option>');
                        $.each(data, function (index, val) {
                            $('#businessunitId').append('<option value="' + val.BusId + '">' + val.unitname + '</option>');
                        })
                    } else {
                        $('#businessunitId').append('<option value="">' + 'No Unit for this Location yet' + '</option>')
                    }
                },
                failure: function () {
                    var message = {
                        message: "Failed to load data... Try again later"
                    };
                    $('#businessunitId').append('<option value="">' + message.message + '</option>')
                }
            })
        }

        $('#Location').on('change', function () {
            getUnitByLocation($(this).val());
        })
        function addElement() {
            $('#Location').append('<option class="centre" value="">' + 'No Location For now' + '</option>')
            $('#businessunitId').append('<option class="centre" value="">' + 'Please select a Location' + '</option>');
            $('#departmentId').append('<option class="centre" value="">' + 'Please select a Business Unit' + '</option>');
        }
        window.onload(addElement())
    </script>
    }

