@model IEnumerable<resourceEdge.Domain.Entities.Violation>
@{
    ViewBag.Title = "allViolation";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}



<div class="table-responsive">

    <table class="table table-responsive table-striped table-bordered">
        <tr>
            <td>
                @Html.ActionLink("Add new", "AddViolation", "discipline", null, new { @class = "btn btn-info pull-right" })
            </td>
        </tr>
        <tr>
            <td>

                <table class="table table-responsive table-striped table-bordered">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                               @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                <table class="pull-right">
                                    <tr>
                                        <td>@Html.ActionLink("Edit", "EditViolation", "Discipline", new { id = item.ID }, new { @class = "btn btn-warning pull-right" })</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }

                </table>

            </td>
        </tr>
    </table>
</div>
