@{
    ViewBag.Title = "allViolation";
    Layout = "~/Views/Shared/Layouts/_HrLayout.cshtml";
}
<h2>Sorry you are seeing this page because the time specified to appeal for this incident has been exceeded and you are try to manually visit the route.</h2>
<button class="btn btn-success centered">My Incident(s)</button>